@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
     box-sizing: border-box

}

body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;


}


.container {
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0,0, 0, 0, 0.1);
    padding: 50px 20px;
    max-width: 100%;
    width: 800px;
    text-align: center;
}

h3 {
  margin: 0;
  letter-spacing: 2px;
  opacity: 0.5;

}

.joke {
    font-size: 30px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn {
  background-color: #9f68e0;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0,0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 40px;
}

.btn:active{
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}







