html,
body {
    height: 100%;
    background-color: rgb(250, 223, 187);
}

.text_box {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.center_buttons {
    margin:auto;
    display:block;
}
