*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #219F94 !important;
}

.row{
    margin: 100px auto;
    /* margin: 50px auto 0; */
}

.card1, .card2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 100px; */
    border-radius: 7px;
}

.card1{
    display: inline-block;
    background: #05595B;
    width:500px;
    height: 300px;
}
.card2{
    
    background: #05595B;
    width:500px;
    height: 300px;
}
.captcha-img{
   margin: 15% 18% 0;
   position: relative;
}
.captcha-img .captcha-txt{
    position: absolute;
    top: 18%;
    left: 20%;
    letter-spacing: 10px;
   font-size: 32px;
   color: #3FA796;
    /* transform: translate(-50%, -50%); */
}
.captcha-input{
    margin-top: 30px;
}
label{
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
}

.refresh{
    outline: none;
    border: none;
    background: #219F94;
    padding: 9px;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    margin-left: 200px;
    transition-duration: 0.4s;
}
.refresh:hover{
   
    background:#05595B ;
    border: 1px solid white;
}
.result{
    color: #fff;
}
.check{
    outline: none;
    border: none;
    background: #219F94;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}


@media screen and (max-width:1028px) {
    .captcha-img,.refresh, .captcha-input{
       position: relative;
       top: 10%;
    }
    
    .card1, .card2{
        display: block;
        margin: 50px auto 0;
    }
    .result{
       position: relative;
       left:110px;
       top:130px
    }
    
}