* {
  margin: 0;
  padding: 0;
}
.navl {
  background-color: #15223b;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navl h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 20px;
  font-size: 50px;
  color: #ffffff;
}
.line1 {
  color: cyan;
}
a {
  text-decoration: none;
  padding-right: 40px;
  color: #ffffff;
  font-size: 18px;
}
.footer {
  display: flex;
  text-align: center;
  margin-top: 30px;
  color: cornsilk;
  background-color: #15223b;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.links {
  width: 100%;
}
