#row1 {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav1 {
  background-color: #15223b;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav1 h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 20px;
  font-size: 50px;
  color: #ffffff;
}
.line1 {
  color: cyan;
}
a {
  text-decoration: none;
  padding-right: 40px;
  color: #ffffff;
  font-size: 18px;
}
.footer {
  display: flex;
  margin-top: 30px;
  color: #fff;
  background-color: #15223b;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.centered {
  position: absolute;
  top: 200px;
  left: 80px;
  right: 80px;
}
.centered h1 {
  font-size: 80px;
  text-align: center;
}
.body {
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}
.body p {
  font-size: 18px;
  text-align: center;
}
.body h1 {
  color: #15223b;
  text-align: center;
}
.nos {
  width: 100%;
}
