body {
  height: 100%;

  font-weight: 400;
  color: black;
}
.column1 {
  width: 70%;
}
.column2 {
  width: 30%;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0.7rem;
  margin-top: 2.5rem;
  line-height: 2.3rem;
}
img {
  padding-top: 10px;
}
.card {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: black;
}
.column1 {
  margin-top: 50px;
  padding-right: 10px;
}
p {
  font-size: 17px;
}
li {
  font-size: 17px;
}
.column2 {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  display: flex;
  margin-top: 30px;
  color: cornsilk;
  background-color: #15223b;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.nos {
  width: 100%;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 0 20px 0px;
}
#row1 {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav1 {
  background-color: #15223b;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav1 h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 20px;
  font-size: 50px;
  color: #ffffff;
}
.line1 {
  color: cyan;
}
a {
  text-decoration: none;
  padding-right: 40px;
  color: #ffffff;
  font-size: 18px;
}
