
body{
  background-image: url("https://www.teahub.io/photos/full/202-2026930_3d-superheroes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
}

ol{
  background-color: white;
  border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}

 .list li{
   list-style-type: none;
   padding: 8px;
   cursor: pointer;
 }

 .list li:hover{
     background-color: rgb(231, 229, 229);
 }

 .link{
   text-decoration: none;
   color: black;
 }

 input{
   padding: 9px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border: none;
   padding-left: 38px;
 }

 input:focus{
   outline: none;
 }

 