#results {position: relative;
    top:50px;
    border: 5px dotted rgb(245, 1, 1);
    width: 800px;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
  }
  
  #interim {position: relative;
    top:50px;
    border: 5px solid rgb(8, 231, 45);
    border-radius: 10px;
    font-family: monospace;
    text-align: center;
    font-size: 1.5rem;
    width: 800px;
    margin: auto;
  }

  .btn{
    position: relative;
    top:80px;
    margin-right: 25px !important;
  }
  
  