*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #00ffff;
  margin: 50 50 50 50;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.piano {
  display: flex;
}
.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}
.white {
  --width: 100px;
  /* height: 400px;  */
  background-color: white;
  border: 1px solid#333;
}
.black {
  --width: 60px;
  height: 240px;
  background-color: black;
  border: 1px solid#333;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  /* margin-left: -30px;
    margin-right: -30px;   */
  z-index: 2;
}
.white.active {
  background-color: #ccc;
}
.black.active {
  background-color: #333;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer p {
  margin-top: 25px;
  font-size: 15px;
  /* color: #fff; */
}
@media screen and (max-width: 700px) {
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  .white {
    --width: 90px;
    height: 400px;
    background-color: white;
    border: 1px solid#333;
  }
  .black {
    --width: 50px;
    height: 240px;
    background-color: black;
    border: 1px solid#333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    /* margin-left: -30px;
    margin-right: -30px;   */
    z-index: 2;
  }
}
@media screen and (max-width: 630px) {
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  .white {
    --width: 80px;
    height: 400px;
    background-color: white;
    border: 1px solid#333;
  }
  .black {
    --width: 40px;
    height: 240px;
    background-color: black;
    border: 1px solid#333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    /* margin-left: -30px;
    margin-right: -30px;   */
    z-index: 2;
  }
}
@media screen and (max-width: 560px) {
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  .white {
    --width: 70px;
    height: 400px;
    background-color: white;
    border: 1px solid#333;
  }
  .black {
    --width: 30px;
    height: 240px;
    background-color: black;
    border: 1px solid#333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    /* margin-left: -30px;
    margin-right: -30px;   */
    z-index: 2;
  }
}
@media screen and (max-width: 490px) {
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  .white {
    --width: 60px;
    height: 400px;
    background-color: white;
    border: 1px solid#333;
  }
  .black {
    --width: 30px;
    height: 240px;
    background-color: black;
    border: 1px solid#333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    /* margin-left: -30px;
    margin-right: -30px;   */
    z-index: 2;
  }
}
@media screen and (max-width: 420px) {
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  .white {
    --width: 50px;
    height: 400px;
    background-color: white;
    border: 1px solid#333;
  }
  .black {
    --width: 25px;
    height: 240px;
    background-color: black;
    border: 1px solid#333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    /* margin-left: -30px;
    margin-right: -30px;   */
    z-index: 2;
  }
}
@media screen and (max-width: 350px) {
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  .white {
    --width: 40px;
    height: 400px;
    background-color: white;
    border: 1px solid#333;
  }
  .black {
    --width: 22px;
    height: 240px;
    background-color: black;
    border: 1px solid#333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    /* margin-left: -30px;
    margin-right: -30px;   */
    z-index: 2;
  }
}
@media screen and (max-width: 280px) {
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  .white {
    --width: 35px;
    height: 400px;
    background-color: white;
    border: 1px solid#333;
  }
  .black {
    --width: 22px;
    height: 240px;
    background-color: black;
    border: 1px solid#333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    /* margin-left: -30px;
    margin-right: -30px;   */
    z-index: 2;
  }
}

@media screen and (max-width: 243px) {
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  .white {
    --width: 30px;
    height: 400px;
    background-color: white;
    border: 1px solid#333;
  }
  .black {
    --width: 19px;
    height: 240px;
    background-color: black;
    border: 1px solid#333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    /* margin-left: -30px;
    margin-right: -30px;   */
    z-index: 2;
  }
}
@media screen and (max-width: 207px) {
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  .white {
    --width: 25px;
    height: 400px;
    background-color: white;
    border: 1px solid#333;
  }
  .black {
    --width: 15px;
    height: 240px;
    background-color: black;
    border: 1px solid#333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    /* margin-left: -30px;
    margin-right: -30px;   */
    z-index: 2;
  }
}
