.calendar {
    width: 100%;
    margin: 0 0.5rem ;
	display: grid;
	place-items: center;
    border: 4px solid #1B363F;
    overflow: hidden;
    position: relative;
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    padding: 10px;
    width: 100%;
    border: 2px solid #1B363F;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B363F;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 600;
}

.calendar-week-day {
    background-color: rgb(251, 223, 187);
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.calendar-days div span {
    position: absolute;
}


.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.month-list {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    transform: scale(1.2);
    visibility: hidden;
    pointer-events: none;
    font-size: 1rem;
}

.month-list.show {
    background-color: antiquewhite;
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border: 1px solid #1B363F;
    cursor: pointer;
    color: var(--color-txt);
}
