#heading {
    position: absolute;
    top: 50px;
    left: 400px;
    font-size: 50px;
    text-decoration: underline;
    color: green;
}
#open {
    position: absolute;
    top: 700px;
    left: 400px;
    background-color: blue;
    border: 2px solid blue;
    color: white;
    padding: 10px;
    font-size: 20px;
}
#open:hover {
    background-color: skyblue;
    border: 2px solid skyblue;
    cursor: pointer;
}
#close {
    position: absolute;
    top: 700px;
    right: 400px;
    background-color: blue;
    border: 2px solid blue;
    color: white;
    padding: 10px;
    font-size: 20px;
}
#close:hover {
    background-color: skyblue;
    border: 2px solid skyblue;
    cursor: pointer;
}
#openimg{
    position: absolute;
    top: 300px;
    left: 410px;
}
#closeimg{
    position: absolute;
    top: 300px;
    right: 390px;
}