








* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'PT Serif', serif;
	letter-spacing: 0.4px;
}
body {
	background-color: #f3f3f3;
	height: 100%;
	background: -o-linear-gradient(315deg, rgb(136, 10, 240), rgb(167, 14, 39)) fixed;
	background: linear-gradient(135deg, #0eaa61, #4c4af4) fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}
.box {
	width: 80vmin;
	position: absolute;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	left: 50%;
	top: 50px;
	font-size: 18px;
}
.container {
	background-color: #eee3e6;
	width: 100%;
	padding: 3.2em 2.5em;
	position: relative;
	border-radius: 10px;
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}
a {
	display: block;
	background-color: #0ada48;
	padding: 15px 0;
	margin: 40px 0 60px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;
}
a .fab {
	color: hsl(324, 15%, 94%);
}
section:not(:last-child) {
	margin-bottom: 40px;
}
section:not(:first-child) {
	margin-top: 40px;
}
section:last-child {
	border-radius: 5px;
	padding: 10px;
	background-color: #cdccfd;
}
.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 12px 0;
}

.lbl {
	font-size: 1em;
	color: #44475b;
	font-weight: 400;
}
.val {
	color: #44475b;
	font-weight: 500;
	font-size: 1.12em;
}
section:last-child .val,
section:last-child .lbl {
	color: #4c4af4;
}
.input-box {
	border: 2px solid #6f6df4;
	border-radius: 5px;
	color: #6f6df4;
	padding: 7px 10px;
	font-size: 1.12em;
}
#bill {
	color: #6f6df4;
	background-color: transparent;
	width: 4em;
	text-align: right;
	border: none;
	outline: none;
}
::placeholder {
	color: #4c4af4;
}
hr {
	border: none;
	border-bottom: 1px solid #cdccfd;
}
input[type="range"] {
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	width: 100%;
	height: 8px;
	background-color: #d5d5d5;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 8px;
}
input[type="range"]::-moz-range-track {
	-moz-appearance: none;
	height: 8px;
}
input[type="range"]::-ms-track {
	appearance: none;
	height: 8px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background-color: #6f6df4;
	border-radius: 50%;
	pointer-events: auto;
	cursor: pointer;
	margin-top: -6px;
	border: none;
}
input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: #6f6df4;
	border-radius: 50%;
	pointer-events: auto;
	cursor: pointer;
	margin-top: -6px;
	border: none;
}
input[type="range"]::-ms-thumb {
	appearance: none;
	height: 20px;
	width: 20px;
	background: #6f6df4;
	border-radius: 50%;
	pointer-events: auto;
	cursor: pointer;
	margin-top: -6px;
	border: none;
}
input[type="range"]:not(:last-child) {
	margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
	.box {
		width: 85vw;
		font-size: 16px;
	}
}
@media screen and (max-width: 480px) {
	.box {
		width: 90vw;
		font-size: 14px;
	}
}
