* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgba(169, 200, 229, 0.632);
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.liquid {
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  z-index: 3;
}

.liquid h1 {
  position: absolute;
  justify-content: center;
}

.liquid h1:nth-child(1) {
  color: white;
  text-shadow: -2px 2px 0 #183954,
    -4px 4px 0 #183954,
    -6px 6px 0 #183954,
    -8px 8px 0 #183954,
    -18px 8px 20px #183954 rgba(0, 0, 0, 0.5),
    -18px 8px 50px #183954 rgba(0, 0, 0, 0.5);
}

.liquid h1:nth-child(2) {
  color: #004687;
  animation: animatenew 3s ease-in-out infinite;
}

.liquid h1:nth-child(3) {
  color: #004687;
  animation: animatenew 6s ease-in-out infinite;
}

.liquid h1:nth-child(4) {
  color: #004687;
  animation: animatenew 4s ease-in-out infinite;
}

@keyframes animatenew {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

#board {
  width: 400px;
  height: 400px;
  border: 2px solid purple;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

#board img {
  width: 78px;
  height: 78px;
  border: 0.5px solid lightblue;
  opacity: 1;
  cursor: pointer;
}

#pieces {
  width: 1067px;
  height: 160px;
  border: 4px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  cursor: pointer;
  opacity: 1;
}

#pieces img {
  width: 78px;
  height: 78px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("ocean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

section span {
  position: absolute;
  bottom: -70px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  animation: animate 4s linear infinite;
}

section span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(#fff, transparent);
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    transform: translateY(-1200%);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.popup-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup {
  width: 400px;
  height: 50px;
  border: 5px solid royalblue;
  background-color: white;
  position: fixed;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  font-family: "Raleway";
  padding: 20px;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  background: #555;
  padding: 10px;
  border-radius: 10px;
  color: #eee;
  font-weight: 600;
  cursor: pointer;
}
