/* css starts */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#color{
    height: 1.5rem;
    width: 15rem;
    border-radius: 1rem;
    border: 3px solid rgb(226,226,226);
    padding: .2rem 1rem;
    font-size: .75rem;
    outline: none;
}