*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body {
   height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    background: #e9ebeb;
    margin: 240px auto; 
    margin-left: 130px;
    background-color: aqua;

}
#start {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    font-size: 75px;
    /* background:-webkit-linear-gradient(#00aff9,#0086c3); */
    background: linear-gradient(#00aff9,#0086c3);
    color: #342c2a; 
	 /* -webkit-animation: slide 1.5s ease-in-out forwards; */
	        animation: slide 1.5s ease-in-out forwards;
  
}
#slide1, #slide2, #slide3, #slider4 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    background:-webkit-linear-gradient(#00aff9,#0086c3);
    background: linear-gradient(#00aff9,#0086c3);
    color: #342c2a; 
    font-size: 75px;
}
img {
    text-align: center;
    margin: 0;
    height: 300px;
    width: 500px;
}
.wrapper {
  	width: 500px;
	  margin: 0 auto;	
}

.container {
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 500px;
	  height: 300px;
	  margin: 0;
	  padding: 0;
    background: #282929;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.6);
    border: 1px solid #fff;
}
.navigation {
	  position: absolute;
	  bottom: 0px;
	  left: -140px;
  	margin: 0;

	  padding: 0;
}
li{
  color: transparent;
}
.btn {
    float: left;
    margin: 6px;
    width: 120px;
    height: 63px;
    text-align: center;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    -webkit-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
}

.btn a img {
    display: block; 
    text-decoration: none;
    height: 63px;
    width: 120px;
    letter-spacing: 2px;
    font-size: 12px;
}

.btn:hover {

            transition: 0.1s ease-in;

            transform: scale(1.2);
     background: #00aff9;

}


#slide1:target, #slide2:target, #slide3:target, #slide4:target {

	        animation: slide 1.5s ease-in-out forwards;
}


@keyframes slide {
    0% { font-size: 0px; opacity: 1;}   
  100% { font-size: 75px; opacity: 1;}  
}