*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#A3C4F3,#98F5E1);
    height: 100vh;
    font-family: monospace;
}
section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background: rgba(255, 255, 255, 0.466);
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 20px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 10px 20px;
    padding-right: 10px;
    width: 500px;
}
h1{
    /* margin-left: 60px; */
    text-align: center;
    margin-bottom: 1.23rem;
    font-size: 2rem;
}
.box{
    width: 100%;
    display: flex;
}
.box div{
    width: 100%;
}
select{
    width: 95%;
    height: 44px;
    font-size: 1.25em;
    cursor: pointer;
    outline: none;
    background-color: #b4d3fc;
    margin: 0.4em 0;
    padding: 0 1em;
    border-radius: 5px;
    border: none;
}
input{
    width: 95%;
    height: 44px;
    font-size: 1.25em;
    margin: 0.3em 0;
    border-radius: 5px;
    background-color: #98F5E1;
    border: none;
    outline: none;
    padding: 0 1em;
}
.convert{
    width: 98%;
    height: 45px;
    background-color: #8eb8f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 0.9em 0;
    font-weight: bold;
}
.convert:hover{
    background-color: #6ba4f5;
}
select, input, .convert{
    font-family: monospace;
}

@media screen and (max-width: 550px) {
    .wrapper{
        width: 89%;
    }
}