:root {
    --background-light-color: #57ebd7;
    --background-dark-color: #24a88b;
    --content-background-color: #fff6be;
    --primary-color: #007340;
    --primary-brighter: #00a057;
    --primary-saturated: #05a058;
    --primary-saturated-brighter: #07cf72;
    --accent-color: #FD0;
    --accent-darker: #a79000;
    --box-shadow-color: rgba(0,0,0,0.75);
    --modal-overlay-color: rgba(0, 0, 0, 0.3);

    --main-background-gradient: linear-gradient(to right, var(--background-light-color) 0%, var(--background-dark-color) 100%);
    --primary-gradient: linear-gradient(to right, var(--primary-color) 0%,var(--primary-saturated) 100%);
    --primary-highlight-gradient: linear-gradient(to right, var(--primary-brighter) 0%,var(--primary-saturated-brighter) 100%);
    --box-shadow: 0 1vmin 2vmin -1vmin rgba(0,0,0,0.75);
    --default-border-radius: 2vmin;
    --default-primary-border: 0.25vmin solid var(--primary-color);
    --default-accent-border: 0.25vmin solid var(--accent-darker);
    --main-title-font-size: 4vmin;

    --selection-animation-duration: 350ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    place-items: center center;
    justify-content: center;
    background: var(--main-background-gradient);
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------- */

.container {
    background: #0da192;
    margin: 17px;
    padding: 50px;
    border-radius: 92px;
}

.title {
  text-align: center;
}

.title span {
  color: #F2EBD3;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
  height: 30px;
}

.status span {
  color: #F2EBD3;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #F2EBD3;
}

.game-grid {
  background: #0DA192;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.game-cell {
  background: #14BDAC;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  height: 170px;
  width: 170px;
}

.x,
.o {
  cursor: default;
  display: inline-flex;
}

.x::after {
  content: '×';
  font-size: 194px;
}

.o::after {
  content: '○';
  color: #F2EBD3;
  font-size: 255px;
  height: 190px;
  line-height: 160px;
}

.won::after {
  color: #BD022F;
}

@media only screen and (max-width: 1024px) {
  .game-grid {
    margin-top: 25px;
    grid-gap: 10px;
  }

  .game-cell {
    height: 150px;
    width: 150px;
  }

  .x::after {
    font-size: 150px;
  }

  .o::after {
    font-size: 175px;
    height: 180px;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    margin: 25px;
    padding: 25px;
  }

  .game-cell {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 100px;
  }

  .o::after {
    font-size: 125px;
    height: 100px;
    line-height: 90px;
  }
}

.code-with-love {
  position: absolute;
  right: 30px;
  bottom: 50px;
  border-radius: 5px;
  background-color: #2eb59a;
  padding: 10px;
  color: #f2ebd3;
  z-index: 99999999;
}

.code-with-love i.fa-heart,
.code-with-love span {
  color: #ff2828;
}
